.blog--featured__section {
  position: relative;
}

//TEMPORARY
.blog--featured__section:after {
  content: "->";
  right: 20px;
}

.blog--featured__section:before {
  content: "<-";
  left: 20px;
}

.blog--featured__section:after,
.blog--featured__section:before {
  height: 20px;
  top: 50%;
  margin-top: 10px;
  margin: auto;
  position: absolute;
} 
//TEMPORARY END