.blog--featured__section {
  display: flex;
  flex-direction: column;
  position: relative;

  @media screen and (min-width:$breakpoint-tablet){
    flex-direction: row;
    justify-content: center;
  }
}
