.blog__section {
  display: flex;
  flex-direction: column;
  padding: 3%;
  
  @media screen and (min-width:$breakpoint-tablet){
    flex-wrap: wrap;
    height: 600px;
    align-items: center;
  }
}

.blog__section:after {
  @media screen and (min-width: $breakpoint-tablet) {
    background-color: $color-divider;
    content: "";
    flex-basis: 100%;
    margin: 10% 0;
    order: 1;
    width: 1px;
  }
}
